.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 40px;
    color: aliceblue;
}

.button_top img {
    width: 50px;
    height: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

 button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #ffffff;
 --button_outline_color: #3a3a3a;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}

.monkey-pic{
    margin: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.disclaimer{
  color: white;
}

.disclaimer a{
  text-decoration: none;
  color: white;
}

.disclaimer a:hover{
  font-size: 20px;
}